<div class="top-menu">
    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- {{ courses | json}} -->

<div *ngFor="let pair of course | keyvalue">
    {{ pair.key + ": " + pair.value}}
</div>

<div class="demo">
    <div>
        Start Date: {{ startDate | date: 'MMM dd yyyy' }}
    </div>

    <div>
        {{ rate | percent }}
    </div>
</div>

<div class="courses">

    <course-card *ngFor="let course of courses | slice:0:2; index as i; first as isFirst; last as isLast;
    even as isEven; odd as isOdd"
        (courseSelected)="onCourseSelected($event)"
        [course]="course" [cardIndex]="i + 1"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-odd]="isOdd"
        [class.is-even]="isEven"
    ></course-card>

 

</div>


